<center>
  <div>
    <h3>
      <a href="https://lwflouisa.github.io/SkullFairyWasteland/Blog/archive">Blog</a>
      <a href="https://lwflouisa.github.io/SkullFairyWasteland/Gallery/archive">Art Show</a>
      <a href="https://lwflouisa.github.io/SkullFairyWasteland/Videos/archive">The Tube</a>
      <a href="https://lwflouisa.github.io/SkullFairyWasteland/Podcast/archive">Podcast</a>
      <a href="https://lwflouisa.github.io/VampirePortfolio">Exit Skullfairy Realm</a>
    </h3>
  </div>
</center>
